.header{display: flex;

    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    position: relative;
    overflow: auto;
    justify-content:space-between;
}
.contains_the_container{
    display: flex;

    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    position: relative;
    overflow: auto;
    justify-content:center;
    flex-direction: column;


}
footer{text-align: center;
    padding: 3px;
    background-color: rgb(0, 0, 0);
    color: white;}
.company_name{
    display: flex;
    justify-content: flex-end;
}

.menu{
    display: block;
    color: black;
    float: left;
    padding: 16px;
    text-decoration: none;
    border-left:1px;
    border-color: yellowgreen;
}


.container{
    display: flex;
   
    align-items: flex-start ;
    justify-content:space-around;

    
    

    background-color: yellowgreen;
}

.name{
    font-family: 'Courier New', monospace;
    text-align: center;
   

}
.shoes{
    width: 20%;
}
.shoes1{
    width: 100%;



}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
    .menu{
        font-size: 20px;
    }
    
    }
    .name{
        font-size: 30px;
    }
  
  @media only screen and (max-width: 600px) {
    .menu{
        font-size: 10px;
    }
    
    
    .name{
        font-size: 20px;
    }}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {.menu{
    font-size: 20px;
}


.name{
    font-size: 25px;
}}


@media only screen and (min-width: 992px) {
    .menu{
        font-size: 40px;
    }
    
    
    .name{
        font-size: 60px;


    }}




/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {.menu{
    font-size: 40px;
}


.name{
    font-size: 60px;
}}
